.columns {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.users {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  width: 50%;
}

.albumns {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  width: 50%;
}

/* Mobile */
@media (max-width: 480px) {
  .columns {
    flex-direction: column;
  }

  .users {
    width: 100%;
  }
  
  .albumns {
    width: 100%;
  }
  
}
